/*------------------------------
        Heading Style
------------------------------*/
.header-section {
    height: 60vh;
    // width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $light-blue;

    h2 {
        font-size: 65px;
        word-spacing: 5px;
        letter-spacing: 2px;

        @media all and (max-width: 991px) {
            font-size: 35px;
        }
    }

    p {
        font-size: 23px;
        letter-spacing: 1px;
        word-spacing: 3px;

        @media all and (max-width: 991px) {
            font-size: 16px;
        }
    }
}
